
body{
    background-color: #f5f5f5; font-family: Lato;color:#616161;
}
.whtclr{
    background-color: #fff;
}

.header{
    height:260px; background-color: #fff;
}

.header_menu{
    height:60px; padding: 15px 0px;
}

.logo{
    height:30px;width:30px;float:left;margin-left: 8%; background-color: #d9d9d9;
}

.glyphicon-search{
    background-color: #d9d9d9; padding: 7px;color: #fff;
}

.serachspan{position: relative; right: 4.5%; cursor: pointer;}

input[type="text"]{
    height:30px;
}

.menu a{
    padding:2px 10px;color: #757575; font-family: lato; cursor: pointer;
}

.landtemp{margin-top: 15px; height: 170px;}

.landtemp div img{height:150px; background-color: #ccc; border-radius:4px; width:100%;}

.mrglft20{margin-left: 20px;}

.mrgbtm20{margin-bottom:20px;}

.bx-wrapper .bx-pager{
    display:none !important;
}

.bx-wrapper{
    max-width:100% !important;
}

/*.slider1{
    width:100% !important;
}
.slide{
    width:25% !important;
}*/

.slider1 p{width:315px; height:150px; background-color: #d9d9d9; margin-bottom:0px; border-radius:5px;}

.bx-wrapper .bx-viewport{
    box-shadow:0px 0px 0px #ccc !important;
}

/* Content Start */
.contborder{ border:4px solid #d9d9d9;border-radius:3px;height: 400px; cursor: pointer;}

.contborder div:nth-child(1) > p:nth-child(1){ background-color: #ebebeb; margin-bottom: 0px; height:140px;}

.contborder div:nth-child(2){ padding:20px 30px; background-color: #fff; height: 252px;}

.contborder div:nth-child(2) p:nth-child(1){ font-size:12px; color: #9e9e9e; margin-bottom: 15px;font-family: Lato;}

.contborder div:nth-child(2) label:nth-child(1){

}

.contborder div:nth-child(2) p:nth-child(2),.contspace p:nth-child(3){ font-size: 14px; font-family: source sans pro;}

.contborder div:nth-child(2) p:nth-child(2){ font-size: 16px; font-weight:bold; color:#424242; font-family:lato; margin-bottom: 20px;}

.contborder div:nth-child(2) p:nth-child(4){ color: #757575; font-size: 11px; margin-top: 5px;float: left;}

.contborder div:nth-child(2) p:nth-child(6){color: #757575; font-size: 11px; margin-top: 5px;float: left;}

.contborder div:nth-child(2) label{ font-family: lato; font-size: 11px; font-weight: bold;background-color: #d9d9d9;height: 25px;border-radius: 10px;border-radius: 50px; width: 25px; color: #fff;}

.contborder div:nth-child(2) label > p{position: relative;top: 3px; left:1px; font-family: lato;font-size: 10px;color: #fff !important;}

.nopadding{ padding:0px;}

.nopaddlr{padding-left: 0px !important; padding-right: 0px !important;}
.category{ }

.category a{ margin-left: 20px; font-family: Myriad Pro; color: #757575; padding-bottom: 7px;}

.filterimg{position: relative; top: 0px;left: 4px;}

.filtermodal h4{ font-family: lato; font-size: 14px; color:#444; font-weight: bold;}

.filtermodal p{ font-family: lato; font-size: 12px; color:#d9d9d9;}

.category a:hover{text-decoration: none; cursor:pointer;}

.divfilter{ position: absolute;right: 12.5%;bottom: 30%;}

.divfilter a{color:#fff !important;border-bottom:0px solid !important;}

.active{color:#27c79a !important; border-bottom: 4px solid #27c79a;}

.filter{background-color: #27C79a; color: #fff; height: 28px; padding: 3px 18px 6px 2px; border-radius: 5px; top:-4px;}

.paddtopbtm10{ padding-bottom: 10px; padding-top: 10px;}

/* Adscroll Start */

.adscroll{height:250px; border: 4px solid #d9d9d9; background-color: #fff; padding: 15px; width: 1015px; margin-left: 1.2%;border-radius: 3px;}

.adscroll .adscrolldiv div{height:220px;width:180px;background-color:#f5f5f5;float: left;border: 1px solid #d9d9d9;margin: 0px 7px;}

/* Adscroll End */

/* More Evets Start */
.moreevents{text-align: center; padding: 20px 0px;}

.moreevents a{ border: 1px solid #d9d9d9;padding:4px 20px 5px 20px; background-color: #fff; font-family: lato; border-radius: 3px; color: #757575; cursor: pointer;width: 100px; height: 26px;}

/* More Events End */

/* Subscribe Start */

.subscribe{height:200px; background-color:#ccc;}

.subscribe p{text-align: center; color:#fff; padding-top: 4%; font-size: 21px; font-family: lato;}

.subscribe input{ margin-top: 2%; width: 360px; height: 40px; text-indent: 10px; background-color: #f4f4f4; border: 0px; border-radius: 2px;}

.subscribe button{text-align: center; width: 100px; background-color: #27c79a; border: 0px; color: #fff; padding:10px 15px; position: relative; right: 8.6%; top: 0px; outline:none;}

/* Subscribe End */

/* Categories Bottom Start */
.catgbtm{height:55px; background-color: #fff; border-bottom:1px solid #D9D9D9; padding-top: 18px;}

.catgbtm label{font-size: 14px; font-family: lato; font-weight: bold;}

.catgbtm a{ padding-left: 15px; color: #757575; cursor: pointer;font-family: lato; font-size: 14px;}
/* Categories Bottom End */

/* Copyrights Start */
.copyrights{height: 80px; background-color: #fff; padding-top: 25px;}

.copyrights a{ color:#757575; padding-left: 15px; cursor: pointer; font-family: Lato; font-size: 14px;}

.copyrights img{padding:0px 5px; height:14px; cursor:pointer;}
/* Copyrights End */


/* Modal Popup Start */
.modal-body{
	height:160px;
}
.filtermodal select{
	border-radius: 2px;
    padding: 6px 10px;
	width:100%;border: 1px solid #d9d9d9;
    color: #999;
}
.filtermodal input{
	border-radius: 2px;
    padding: 3px 5px;
	border:1px solid #d9d9d9; width: 110px;    color: #999;
}

.filtermodal .modal-footer{border-top:0px solid #d9d9d9;}

.modal-dialog{
	width:750px; margin: 12% auto;
}

.modal-body p{margin-bottom:5px;}

.modalfilter{
    background-color: #27C79a;
    color: #fff;
    height: 32px;
    padding: 4px 25px;
    border-radius: 3px;
    border: 1px solid #27c79a;
}

.filtermodal .close{
	border: 1px solid #000;
    padding: 1px 5px;
    border-radius: 3px;
}
/*  Modal Popup End */



/* Content End */

/* Media Query Start */

@media only screen and (min-width:480px) and (max-width: 768px) {
    .category{

    }
    .category a {
        margin-left: 10px;
        /*position: relative;
        right: 7%;*/
    }
    .contborder div:nth-child(1) > p:nth-child(1){
         height:212px;
     }
    .contborder{
        height:220px;
    }
    .contborder > p:nth-child(1){
        float:left;
        width:40%;
    }
    .contspace{
        height: 210px !important;
		display: inline-block;
		width: 60%;    padding: 20px 15px !important;
    }
    .contspace p:nth-child(3){ overflow: hidden;text-overflow: ellipsis;height: 63px;}

	.contborder div:nth-child(1){
		width: 40%;
		float: left;
	}
	.contborder div:nth-child(2) p:nth-child(1){
		margin-bottom: 5px;
	}
	.contborder div:nth-child(2) p:nth-child(2) {
		    margin-bottom: 10px;    line-height: 16px;
	}	
	.subscribe button
	{
		right: 19.3%;
    top: 0px;
	}
	.catgbtm{height:80px;}

    .menusadj{width: 60%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

    .searchtxt {width: 220px !important;}

    .header {
        height: 280px;
    }
}

@media only screen and (min-width:320px) and (max-width: 480px) {
    .category{    }
    .category a { margin-left: 10px; }
    .contborder div:nth-child(1) > p:nth-child(1){ height:212px; }
    .contborder{ height:220px; }
    .contborder > p:nth-child(1){ float:left; width:40%;}
    .contspace{height: 210px !important;      display: inline-block;
        width: 60%;
        padding:20px 10px !important;
    }
    .contborder div:nth-child(1){
        width: 40%;
        float: left;
    }
    .contborder div:nth-child(2) p:nth-child(1){
        margin-bottom: 5px;
    }
    .contborder div:nth-child(2) p:nth-child(2) {
        margin-bottom: 10px;    line-height: 16px; font-size: 12px;
    }
    .subscribe button
    {
        right: 10.3%;
        top: 1px;
    }
    .catgbtm{height:50px;}

    .menusadj{width: 60%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

    .searchtxt {width: 220px !important;}

    .header {  height: 290px; }
    .menu{overflow: hidden; text-overflow: ellipsis; width: 75%; white-space: nowrap; padding-top: 15px;  padding-left: 8%;}
    .glyphicon-search { right: 4%; }
    .contborder div:nth-child(2) p:nth-child(1) { font-size: 12px;}
    .contspace p:nth-child(3){ overflow: hidden;text-overflow: ellipsis; height: 50px;max-height: 83px; display: -webkit-box; -webkit-line-clamp: 3;font-size: 12px;}
    .filter {top:-8px !important;}
    .subscribe{height:110px;}
    .subscribe p{font-size:12px;}
    .subscribe input{width: 210px; height: 30px; position: relative; left: 8%; }
    .subscribe button{height:30px; padding:5px 15px;}
    .catgbtm > div{ overflow: hidden;text-overflow: ellipsis; display: -webkit-box;line-height: 16px; max-height: 17px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 75%;}
    .adscroll{width:85%;}
    .contspace p:nth-child(3){}
}
@media only screen and (min-width:768px) and (max-width: 1024px)and (orientation : landscape) {
    .contspace p:nth-child(3){overflow: hidden;text-overflow: ellipsis; height: 50px;max-height: 83px; display: -webkit-box; -webkit-line-clamp: 3;font-size: 12px;}
    .adscroll{width:85%;}
    .searchtxt{width:50% !important;}
    .serachspan{right:7.5%;}
    .menusadj{width:70%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .header{height:255px;}
}
@media only screen and (min-width:768px) and (max-width: 1024px)and (orientation : portrait) {
    .contspace p:nth-child(3){overflow: hidden;text-overflow: ellipsis; height: 50px;max-height: 83px; display: -webkit-box; -webkit-line-clamp: 3;font-size: 12px;}
    .adscroll{width:85%;}
    .searchtxt{width:50% !important;}
    .serachspan{right:8%;}
    .menusadj{width:70%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .header{height:255px;}
    .menu{position: absolute;left: 44%;}
    .menu a { padding: 2px 5px;}
    .subscribe button{right: 16.1%;}
    .catgbtm{height:50px;}
    .catgbtm > div{ overflow: hidden;text-overflow: ellipsis; display: -webkit-box;line-height: 16px; max-height: 17px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 75%;}
}

@media only screen and (min-width:1200px){
    /*.content > div > div{
        max-width:322px;
    }
    .marauto{
        margin:0 auto;
    }*/
}

/* Media Query End */


.padlftrgt5{
    padding-left: 5px;
    padding-right: 5px;
}

.mrglft2p{
    margin-left: 2%;
}

.searchtxt{width:440px; border-radius: 2px; border: 1px solid #d9d9d9;}

a:hover{
    text-decoration: none;
}

.mrglft4p{margin-left: 4.5%;}

.paddlr12{
    padding-right:12px;
    padding-left:12px;
}

.mrgtop15{margin-top: 15px}

/*.marauto{
    margin:0 auto;
}

.content > div > div > div{
    max-width:322px;
    float: left;
    padding-right: 24px;
}

.content > div > div > div:last-child{
    padding-right: 0px;
}*/